[submodule "ERC20/lib/openzeppelin-contracts"]
	path = ERC20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "NFT/lib/forge-std"]
	path = NFT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "NFT/lib/openzeppelin-contracts"]
	path = NFT/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "NFT/lib/foundry-devops"]
	path = NFT/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "Stablecoin/lib/forge-std"]
	path = Stablecoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Stablecoin/lib/openzeppelin-contracts"]
	path = Stablecoin/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Stablecoin/lib/chainlink-brownie-contracts"]
	path = Stablecoin/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "DAOs/lib/forge-std"]
	path = DAOs/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DAOs/lib/openzeppelin-contracts"]
	path = DAOs/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Airdrop/lib/forge-std"]
	path = Airdrop/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Airdrop/lib/openzeppelin-contracts"]
	path = Airdrop/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Airdrop/lib/murky"]
	path = Airdrop/lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "Airdrop/lib/foundry-devops"]
	path = Airdrop/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "Upgrades/lib/forge-std"]
	path = Upgrades/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Upgrades/lib/openzeppelin-contracts"]
	path = Upgrades/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Upgrades/lib/openzeppelin-contracts-upgradeable"]
	path = Upgrades/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "Upgrades/lib/foundry-devops"]
	path = Upgrades/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "AccountAbstraction/lib/forge-std"]
	path = AccountAbstraction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "AccountAbstraction/lib/openzeppelin-contracts"]
	path = AccountAbstraction/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "AccountAbstraction/lib/account-abstraction"]
	path = AccountAbstraction/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "AccountAbstraction/lib/foundry-era-contracts"]
	path = AccountAbstraction/lib/foundry-era-contracts
	url = https://github.com/cyfrin/foundry-era-contracts
[submodule "AccountAbstraction/lib/foundry-devops"]
	path = AccountAbstraction/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
